<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipe Book</title>
        <style>
            body {
                font-family: 'Arial', sans-serif;
            }
        </style>
    </head>

    
        <body>
            <h1>Recipe Book</h1>
            <ul>
                {% for recipe in recipes %}
                <li>
                    <h2>{{ recipe.name }}</h2>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.quantity }} {{ ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ recipe.link }}">View Recipe</a>
                </li>
                {% endfor %}
            </ul>
        </body>
</html>