{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        <h2>{{ recipe.name }}</h2>
        <p><strong>Author:</strong> {{ recipe.author }}</p>
        <p><strong>Created on:</strong> {{ recipe.created_on|date:"F d, Y H:i" }}</p>
        <p><strong>Last updated:</strong> {{ recipe.updated_on|date:"F d, Y H:i" }}</p>

        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
            </li>
            {% endfor %}
        </ul>

        <h3>Images</h3>
        <p>
            {% for image in recipe.images.all %}
                <img src="{{ image.image.url }}", alt="{{ image.description }}", width="250">
                <p>{{ image.description }}</p>
            {% endfor %}
        </p>
        <p>
            <a href="{% url 'ledger:add_recipe_image' pk=recipe.pk %}">Upload Image</a>
        </p>
        <p>
            <a href="{% url 'ledger:recipe_list' %}">Back to Recipe List</a>
        </p>
    {% else %}
        <p>Please login first to view the recipe.</p>
    {% endif %}

{% endblock %}